<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monster Slayer</title>
    <link href="MyMonsterSlayer.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div id="topRow">
            <div>
                <h1>YOU</h1>
                <div class="progress-bar-wrapper">
                    <div class="progress-bar" :style="playerProgress">{{ playerHealth }}</div>
                </div>
            </div>
            <div>
                <h1>MONSTER</h1>
                <div class="progress-bar-wrapper">
                    <div class="progress-bar" :style="monsterProgress">{{ monsterHealth }}</div>
                </div>
            </div>
        </div>
        <div id="controlDiv" class="shadow-box">
            <template v-if="!gameStarted">
                <button id="startBtn" class="btn" @click="startGame">START NEW GAME</button>
            </template>
            <template v-else>
                <button id="attackBtn" class="btn" @click="attack">ATTACK</button>
                <button id="specialAttackBtn" class="btn" @click="specialAttack">SPECIAL ATTACK</button>
                <button id="healBtn" class="btn" @click="heal">HEAL</button>
                <button id="giveUpBtn" class="btn" @click="giveUp">GIVE UP</button>
            </template>
        </div>
        <div id="recordDiv" class="shadow-box">
            <p v-for="action in actions" class="action" :class="getActionClass(action)">
                {{ action.actor + ' ' + action.action + ' ' + action.receiver + ' FOR ' + action.amount }}
            </p>
        </div>
    </div>
    <script src="MyMonsterSlayer.js"></script>
</body>
</html>